
@{
    ViewData["Title"] = "AddGroup";
}

@model KursachTRPO.Models.GroupModel;

<div style="margin:unset; padding:unset" class="container">
    <div class="row">
        @{await Html.RenderPartialAsync("_Menu");}
        <div class="col-lg-offset-3 col-lg-4">
            <form method="post" asp-anti-forgery="true">
                <div class="validation" asp-validation-summary="All" />
                <div class="form-group">
                    <div class="form-group">
                        <label asp-for="Name">Введите название</label><br />
                        <input class="form-control" type="text" asp-for="Name" />
                        <span style="color:red" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Specialty">Введите специальность</label><br />
                        <input class="form-control" type="text" asp-for="Specialty" />
                        <span style="color:red" asp-validation-for="Specialty"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreateYear">Введите дату создания</label><br />
                        <input style="font-size:15px" class="form-control" type="date" asp-for="CreateYear" />
                        <span style="color:red" asp-validation-for="CreateYear"></span>
                    </div>
                    <input type="hidden" name="Id" value="1" />
                    <div class="col-lg-offset-9">
                        <input class="btn btn-success" type="submit" value="Добавить" />
                    </div>
                </div>
            </form>
            <br />
            <br />
        </div>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>