
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div style="margin:unset" class="col-lg-2">
    <ul class="nav nav-tabs">
        <li><a href="Users">Пользователи</a></li>
        <li><a href="Group">Группы</a></li>
        <li><a href="Students">Студенты</a></li>
    </ul>
</div>