
@{
    ViewData["Title"] = "Login";
}


<div class="container col-lg-12">
    <div class="col-lg-offset-10">
        <h2>Вход</h2>
        <form method="post">
            <label for="Login">Логин</label>
            <br />
            <input type="text" id="Login" name="Login" />
            <br />
            <label for="password">Пароль</label>
            <br />
            <input type="password" id="password" name="Password" />
            <br />
            <input type="submit" />
        </form>
    </div>
</div>
